<div id="design-content">
    <div class="agreement">
        <h1 id="main-header-title" style="text-align: center;">%%DOCTITLE%%</h1>
        <h2 id="main-header-ref" style="text-align: center;">Reference# %%DOCREFNUMBER%%</h2>
        
<div id="left-col">
        <p>From this point on <strong>%%COMPANYNAME%%</strong> will be refered to as "The Client" or "Client."</p>
        <h4><strong> Designs or Representation</strong></h4>
        <p>RFDPrint or representative may use logos, photos, artwork, designs or any applicable representation of your business for designs, marketing, sales or products made and/or sold buy RFDPrint for RFDPrint. <strong><em>All designs for products with a representation of your business must be approved by you the client before they are produced</em></strong>. However, the products, quantities, timing, and pricing is at the discretion of RFDPrint. After production starts, designs cannot be changed unless both parties mutually agree in writing.&nbsp; RFDPrint is not an employee of your business but is an independent contractor. Each party is responsible to file their own taxes.&nbsp; </p>
        <h4><strong> Marketing</strong></h4>
        <p>RFDPrint will market and promote products produced by logos, photos, artwork, designs or any applicable representation of your business.&nbsp; You the client are not required to pay for or produced any marketing or promotional material for items sold by RFDPrint for RFDPrint.&nbsp; However, the client is permitted to assist if he or she so desires.&nbsp; RFDPrint does not need approval for promotions, design or discounts of products produced by RFDPrint for RFDPrint.</p>
        <h4><strong>Distribution</strong></h4>
        <p>RFDPrint will produce products and distribute them directly to the customer. All production, customer support, refunds or exchanges related to products produced by RFDPrint for RFDPrint will be the sole responsibility of RFDPrint to resolve. All products produced by RFDPrint for you the client or representative are the sole responsibility of you the client or representative to resolve.</p>
        <h4><strong>Royalties</span></strong></h4>
        <p><strong>All royalties or payments from any profits made by RFDPrint from any representations, depictions, logos or designs from your company are waived through the duration of this agreement.</span></em></strong> Since marketing is an expense, this will be considered payment in full by RFDPrint of all or any real or perceived compensation requirements to you the client.</p>
        
    </div>
<div id="right-col" >  
        <h4><strong>Termination and Expiration</strong></h4>
        <p>This agreement expires one year after it is signed. This agreement can be terminated at any time if both parties agree and put it in writing. If you the client decide to terminate this agreement without the consent of RFDPrint or the agreement expires, RFDPrint will receive %15 of any profits from the sales of any product or products with your designs or likeness which includes, but is not limited to, t-shirts, coats, sweaters, hats or mugs that were previously produces and marketed by RFDPrint, but are now made by another company. This %15 compensation is for the same duration of time that RFDPrint produced and marketed the product with a representation of you or your business, content or designs. If there are no sales of products similar in style or likeness which were produced by RFDPrint, then you the client are under no obligation of compensation to RFDPrint.</p>
        <p><strong>(Example Only: If RFDPrint produced and promoted t-shirts for one year, then RFDPrint is entitled to 15% of any profits made by the sale of t-shirts from you the client for one year after the termination or expiration of this agreement)</strong></p>
        <p>This agreement is considered terminated without consent by you the client, if the same or similar items are being produced by a business or person other than RFDPrint, without the consent of RFDPrint. If this agreement is terminated by RFDPrint without the consent of the client, RFDPrint is not entitled to any compensation by you the client or representative.</p>
        <p><strong>By signing this agreement, both RFDPrint and you the client are in full agreement with these terms. After the expiration date, the conditions of the agreement still apply if either party is performing the same or similar duties as described in this agreement, continued work (production or sale of promotional products mentioned in this agreement) or the liquidation of inventory etc. authorizes an expiration extension, an additional signed agreement is not needed.</strong></p>           
</div>
</div>
</div>