<div id="design-content">
    <h1 style="text-align: center; color:#2EC737;"><strong>Design Approved</strong></h1>
    <h2 id="main-header-title" style="text-align: center;">%%DOCTITLE%%</h2>
    <h3 id="main-header-ref" style="text-align: center;">Reference# %%DOCREFNUMBER%%</h3>
    <div class="design-img" style="text-align: center;" >
        %%DESIGNPROOF%%                                
    <p>The RFDPrint watermark will be removed from the final product.</p>    
    </div>
</div>
