<div id="design-content">
        <div class="agreement">
            <h1 id="main-header-title" style="text-align: center;">%%DOCTITLE%%</h1>
            <h2 id="main-header-sub-title" style="text-align: center;">WordPress Website Management </h2>
            <h2 id="main-header-ref" style="text-align: center;">Reference# %%DOCREFNUMBER%%</h2>
            
         <div id="left-col">
            <h4><strong>AGGREEMENT DETAILS</strong></h4>
            <p>From this point on <strong>%%COMPANYNAME%%</strong> will be refered to as "The Client" or "Client."</p>
            <p><strong>The Client is retaining RFDPrint as a provider of website management services.</strong> The Client agrees to the charge of $199.95 per month (if additional monthly services are requested additional fees may apply. See the "Additional Services" section)  Services not considered a part of the “Business Boost Plan Agreement for WordPress Website Management” are subject to be charged at a regular hourly rate of $20 unless otherwise indicated; such services are not included in this agreement.</p>
            <div class="monthly-services">
            <h3 >Monthly Services Included in This Agreement</h3>
                <ol>
                        <li>Design Changes (10 Hours)</li>
                        <ul>
                        <li>Edit, revise, update or create new text content.</li>
                        <li>Create minor graphic elements</li>
                        </ul>
                        <li>Consultation on use of website’s Content Management System (WordPress)</li>
                        <ul>
                        <li>One on One Training & Tips (1 Hour per month)</li>
                        </ul>
                        <li>WordPress Theme, Core & Plugin Updates*</li>
                        <li>Regular monitoring and updating of WordPress, associated assets, and website links.</li>
                        <li>Ensuring compatibility of updates with current website layout.</li>
                        <li>Daily website and database backups</li>
                        <li>Monitoring website downtime</li>
                        <li>Security and Malware scans</li>
                        <li>Weekly analytics & status reports</li>
                        <li>SSL Certificate Setup and Implementation</li>
                        <li>Support Ticket Access</li>
                        <li>SEO - Search Engine Opimization</li>
                        <li>Eccommerce Website Hosting</li>
                        <ul>
                        <li>Cloud Hosting</li>
                        <li>Managing and/or liaising with the hosting company to resolve issues that may arise as quickly as possible.</li>  
                        </ul>
           </ol>
                    </div><br>

<h4 class="pdf-remove-space"><strong>ACCREDITATION AND PROMOTION</strong></h4>
<p>RFDPrint shall be entitled to place accreditation, as a hyperlink, logo or icon of and for RFDPrint in the Deliverables on each page of the Final Deliverables. RFDPrint retains the right to reproduce, publish and display the Deliverables in RFDPrint&rsquo;s portfolios and websites, in galleries, design periodicals and other media or exhibits for the purposes of recognition of creative excellence or professional advancement, and to be credited with authorship of the Deliverables in connection with such uses.</p>
<h4><strong>CONFIDENTIAL INFORMATION</strong></h4>
<p>All material considered confidential by either party shall be designated as confidential. Confidential Information shall not be disclosed to third parties and shall only be used as needed to perform this Agreement. Confidential Information shall not include any information that is already known by the recipient, becomes publicly known through no fault of the recipient, or is received from a third party without a restriction on disclosure.</p>
<h4><strong>RELATIONSHIP OF THE PARTIES</strong></h4>
<p>RFDPrint is an independent contractor. RFDPrint shall determine, in its sole discretion, the manner and means by which the Services are accomplished. No agency, partnership, joint venture, or employee-employer relationship is intended or created by this Agreement. Neither party is authorized to act as agent or bind the other party except as expressly stated in this Agreement. RFDPrint and the work product or Deliverables prepared by RFDPrint shall not be deemed a work for hire as defined under Copyright Law. All rights granted to Client are contractual in nature and are expressly defined by this Agreement.</p>
<h4><strong>REPRESENTATIONS AND WARRANTIES</strong></h4>
<p>Client represents and warrants to RFDPrint that to the best of Client&rsquo;s knowledge, use of the Client Content does not infringe the rights of any third party. RFDPrint represents and warrants to Client that to the best of RFDPrint&rsquo;s knowledge, the Deliverables will not violate the rights of any third parties.</p>
<h4><strong>EXCEPT FOR THE EXPRESS REPRESENTATIONS AND WARRANTIES STATED IN THIS AGREEMENT, RFDPRINT MAKES NO WARRANTIES WHATSOEVER. RFDPRINT EXPLICITLY DISCLAIMS ANY OTHER WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OR COMPLIANCE WITH LAWS OR GOVERNMENT RULES OR REGULATIONS APPLICABLE TO THE PROJECT &amp; SERVICE.</strong></h4>
<h4 class="add-line-height"><strong>RIGHT OF REFUSAL</strong></h4>
<p>RFDPrint reserves the right to refuse designs, elements, concepts or modifications of any aspect of this project or service. An explanation of refusal is not required from RFDPrint. RFDPrint has the right to refuse designing or posting any element that is of religious or political in nature, which includes but is not limited to political campaigns, political celebrations, religious holidays, religious affiliation, and birthday celebrations.&nbsp;&nbsp;The Client is at liberty to terminate this agreement if any content, designs or elements are refused by RFDPrint. If Client terminates this agreement on the basis of RFDPrint refusal, Client shall pay RFDPrint for the Services performed through the date of termination in the amount of a prorated portion of the fees due. Client shall pay all Expenses, Fees, and Additional Costs incurred through the date of termination.</p>
<h4><strong>CONTENT RIGHTS</strong></h4>
<p>Client accepts full responsibility and certify that Client owns or has the approriate license rights to any materials or content submitted to RFDPrint by the Client or the Client's representative that are included on with and for this service and release RFDPrint from any litigation, disputes, loss of business or finances as result of violations of copyright, trademark or privacy laws. RFDPrint has the right to use designs and contents from this service on printed or digital content as samples, templates and/or promotions of RFDPrint.</p>
</div>
<div id="right-col" >
<h4 class="pdf-remove-space"><strong>INDEMNIFICATION AND LIABILITY</strong></h4>
<p>Client shall indemnify RFDPrint from any and all damages, liabilities, costs, losses, expenses or attorney fees arising out of any claim, demand, or action by a third party due to materials included in deliverables, content, images, designs, logos, text or videos at the request of the Client.</p>                           
<h4> <strong>PAYMENTS DUE & NOTICE</strong></h4>
<p>RFDPrint shall provide Client with&nbsp;Services Included in This Agreement&nbsp;on a month-to-month basis. The contract will be paid on a Monthly Basis with payment due upon receipt of an invoice sent at the beginning of each month.</p>
<p>During the duration of this contract, the Client agrees that&nbsp;RFDPrint will be the sole provider of management services for the website, and no other party will have access to or rights to change the website. If a party other than&nbsp;RFDPrint makes changes to the website, any errors that are created must be repaired and will be charged for at the hourly rate specified above.&nbsp;<u>Minor updates should not exceed more than 50% of the content on any single site page, THE PERCENTAGE TO BE DETERMINED by RFDPRINT.</u></p>
<p>Modifications to this Agreement must be in writing and signed by both parties. Failure by either party to enforce any right or seek to remedy any breach under this Agreement shall not be construed as a waiver of such rights nor shall a waiver by either party of default in one or more instances be construed as constituting a continuing waiver or as a waiver of any other breach. All notices under this Agreement shall be given in writing either by: (a) Fax or Email, with return confirmation of receipt; (b) Certified or Registered mail, with return receipt requested. Notice will be effective when received, or in the case of email or fax, on confirmation of receipt. Rights or obligations under this Agreement shall not be transferred, assigned or encumbered without the prior written consent of the other party. This Agreement shall be governed by the law of Illinois. If any provision of this Agreement is held invalid or unenforceable, the remainder of this Agreement shall remain in full force and effect. Where possible the invalid or unenforceable provision shall be interpreted in such manner as to be effective and valid under applicable law. Headings and numbering used in this Agreement are for convenience and reference only and shall not affect the scope, meaning, intent or interpretation of this Agreement, and shall not have any legal effect. This Agreement is the entire understanding of the parties and supersedes all prior understandings and documents relating to the subject matter of this Agreement.</p>
<h4><strong>TERM AND TERMINATION</strong></h4>
<p>This agreement shall begin when both parties sign and shall continue until an official notice of cancellation is submitted to RFDPrint and delivered, or until the Agreement is terminated. Either party may terminate this agreement at any time, on 30 days prior written notice if the other party breaches any of its material responsibilities or obligations under this Agreement and fails to cure that breach during that 30 day period. Either party may terminate this agreement at any time, on written notice to the other party, if the other party ceases to conduct business in its normal course; makes an assignment for the benefit of creditors; is liquidated or otherwise dissolved; becomes insolvent; files a petition in bankruptcy; or a receiver, trustee, or custodian is appointed for it. In the event of termination, Client shall pay RFDPrint for the Services performed through the date of termination in the amount of a prorated portion of the fees due. Client shall pay all Expenses, Fees, and Additional Costs incurred through the date of termination.</p>
<h4><strong>LICENSE</strong></h4>
<p>RFDPrint grants to Client a non-exclusive, perpetual and worldwide license to use and display the Final Deliverables in accordance with this Agreement. The rights granted to Client are for use of the Final Deliverables in its original form only. The client may not change, create derivative works or extract portions of the Final Deliverables.</p>
<h4><strong>PRELIMINARY WORKS</strong></h4>
<p>RFDPrint retains all rights in and to all Preliminary Works. Client shall return all Preliminary Works to RFDPrint within thirty (30) days of termination of these Services. All RFDPrint Tools are and shall remain the exclusive property of RFDPrint. RFDPrint grants Client a non-exclusive, nontransferable, perpetual, worldwide license to use the RFDPrint Tools solely to the extent necessary within the scope of this Project and Service.</p>
<h4><strong>DEADLINES &amp; DELIVERABLES</strong></h4>
<p>RFDPrint will respond to all management requests from Client within&nbsp;48&nbsp;hours on during normal business days, via email or phone, with a confirmation that the request was received, and an estimated completion date for each action item in the request.</p>
<p>RFDPrint will adhere to quoted deadlines for deliverables in the management requests to the best of ability. In the event that&nbsp;RFDPrint has any issues in delivering on a quoted deadline, Client will be notified via email or telephone with an explanation for any delays.</p>
<h4><strong>ADDITIONAL SERVICES</strong></h4>
<p>Any revisions, additions, or redesign requests not specified in this document shall be considered &ldquo;additional&rdquo; and will require separate agreement and payment.&nbsp;RFDPrintshall advises Client on any requested work that falls within these bounds.</p>
<h4><strong>AUTHORIZATION</strong></h4>
<p>Client hereby authorizes&nbsp;RFDPrintto access their web hosting account, providing active username/password combinations for access to the server via FTP, assuring that &#39;write permissions&#39; are in place on the said hosting provider.</p>
<p>Signing this document confirms your agreement to the terms of this &ldquo;Premium Plan Agreement for WordPress Website Management &mdash; Client Properties&rdquo;.</p>
</div>
<p id="agreement-bold-cap-text" style="margin-top:10px; float:left;" class="pdf-remove-space-p" ><strong>THE SERVICES AND THE WORK PRODUCT OF RFDPRINT&nbsp; ARE SOLD &ldquo;AS IS.&rdquo; IN ALL CIRCUMSTANCES, THE MAXIMUM LIABILITY OF RFDPRINT, ITS DIRECTORS, OFFICERS, EMPLOYEES, DESIGN AGENTS AND AFFILIATES (&ldquo;RFDPRINT PARTIES&rdquo;), TO CLIENT FOR DAMAGES FOR ANY AND ALL CAUSES WHATSOEVER, AND CLIENT&rsquo;S MAXIMUM REMEDY, REGARDLESS OF THE FORM OF ACTION, WHETHER IN CONTRACT, TORT OR OTHERWISE, SHALL BE LIMITED TO THE NET PROFIT OF RFDPRINT. IN NO EVENT SHALL RFDPRINT BE LIABLE FOR ANY LOST DATA OR CONTENT, LOST PROFITS, BUSINESS INTERRUPTION OR FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES ARISING OUT OF OR RELATING TO THE MATERIALS OR THE SERVICES PROVIDED BY RFDPRINT, EVEN IF RFDPRINT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND NOTWITHSTANDING THE FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY.</strong></p>
</div>                
</div>

